
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Catamaran', sans-serif;
}

.pointer {
  cursor: pointer;
}
:root{
  --green :#99d98c;
  --gray :#e9ebeced;
  --white:#fdfdff;
  --blue :#1d2d44;
  --graycard:#e5e5e5;
}